<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <form class="navbar-form"  name="weatherForm">
                <div class="form-group">
                    <input type="text" class="form-control" required ng-model="home.city" placeholder="Enter City or Zip Code"/>
                </div>
                <button type="submit" ng-disabled="weatherForm.$invalid" ng-click="updateWeather()" class="btn btn-default">Search</button>

                    <span>
                    <button ng-click="updateUnit()"
                            ng-class="unitStatus ? 'btn-primary' : 'btn-default'">&deg;F</button>
                    <button ng-click="updateUnit()"
                            ng-class="unitStatus ? 'btn-default' : 'btn-primary'">&deg;C</button>
                </span>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <current-weather icon-url="home.iconUrl" ng-if="weatherDetail" weather-detail="weatherDetail"></current-weather>
</div>
<br>
<div class="container-fluid" ng-show="weatherDetail">
    <div ui-view="forecast"></div>
</div>
